@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

/* img tags */
.imagesContainer {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
}


.hero-caption {
  position: absolute;
  z-index: 5;
  bottom: 15%;
  left: 7%;
  padding: 1rem;

}

.hero-caption h1 {
  color: #ffffff;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Roboto Slab', serif;
  line-height: 4.5rem;
}

.hero-caption p {
  color: white;
  font-size: 1rem;
  letter-spacing: 5px;
}

.hero-caption h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

.imagesContainer img {
	width: 100%;
  height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* images using CSS */
.imageDiv {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
}

.image1 { background: url('../../assets/landing_1.webp')no-repeat center center/cover; }
.image2 { background: url('../../assets/landing_3.webp')no-repeat center top/cover; }


/* animation styles */
@keyframes fadeIn {
	0% { opacity: 0; }
	20% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 1; }
}

.fadeInClass {
	animation-name: fadeIn;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}


.hero-btn button {
  padding: .8rem 2rem;
  font-size: 1rem;
  background-color: #678056;
  letter-spacing: 1px;
}


.hero-btn button:hover {
  color: rgb(21, 22, 22);
  background-color: rgb(230, 235, 240);
}


@media screen and (max-width: 940px) {
  .hero-caption {
    width: 100%;
    bottom: 5%;
    left: 0%;
    text-align: center;
  }

  .hero-caption h1 {
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem 0;
  }

  .hero-caption h2 {
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 500px)  {
  .hero-caption h1 {
    font-size: 2rem;
    padding: .5rem 0;
    line-height: 2rem;
  }

  .hero-caption h2 {
    font-size: 1rem;
  }
}